body{
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #17181f;
    margin: 0;
    padding: 0;
}
#container {
    width: 1080px;
    margin: 0 auto;
    padding: 0;
}
/* CABEÇALHO PADRÃO */
header {
    height: 50px;
    padding: 0px;
    display: block;

}
#title {
    float: left;
    display: block;
    margin-top: 0px;
    margin-left: 10px;
}
nav ul {
    list-style-type: none;
    float: right;
    margin-right: 30px;
    
}
nav ul li {
    float: left;
}

nav ul li a:link {
    display: block;
    margin-right: 10px;
    padding-bottom: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: #0b8770;
}
nav ul li a {
    color: #ebe68d;
    margin: 15px;
}


/* HOME */

#conteudoHome{
    color: aquamarine;
}

/* PLANOS */

#text{
    margin-top: 100px;
    color: #ebe68d;
    display: block;
    width: 1080;
    text-align: center;
    
}


.planos{
    width: 1080px;
    display: block;
    float: left;
    margin: 50px;
    margin-left: 160px;
    
}

.titlePlans{
    text-align: center;
}

#padrao{
    display: block;
    float: left;
    color: #17181f;
    background-color: #ebe68d;
    width: 300px;
    border-radius: 10px;
    height: 400px;
    box-shadow: 5px 1px 15px 5px #000000;
    padding: 0px;

}
#plus{
    display: block;
    float: left;
    color: #17181f;
    background-color: #ebe68d;
    width: 300px;
    border-radius: 10px;
    height: 400px;
    margin-right: 40px;
    margin-left: 40px;
    box-shadow: 5px 1px 15px 5px #000000;
    padding: 0px;

}

#ultra{
    display: block;
    float: left;
    color: #17181f;
    background-color: #ebe68d;
    width: 300px;
    border-radius: 10px;
    height: 400px;
    box-shadow: 5px 1px 15px 5px #000000;
    padding: 0px;

}
#padrao:hover{
    box-shadow: 0px 0px 15px 10px #383737;
}
#plus:hover{
    box-shadow: 0px 0px 15px 10px #383737;
}

#ultra:hover{
    box-shadow: 0px 0px 15px 10px #383737;
}

section ul li{
    color: #17181f;
    
    font-weight:500;
    
}

.selectPlan{
    background-color:#17181f;
    color: #ebe68d;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 260px;
    text-decoration: none;
    
    
}
#padrao .selectPlan{
    position: relative; left:-8%;
    margin-top: 200px;
}
#plus .selectPlan{
    position: relative; left:-8%;
    margin-top: 165px;
}
#ultra .selectPlan{
    position: relative; left:-8%;
    margin-top: 147px;
}

.selectPlan:hover{
    box-shadow: 1px 1px 5px 1px #000000;
    background-color: #17181f;
    
}

/* CONTATO */